section {
    width: 80%;
    height: 800px;
    background-image: url("./AllianceWallpaper.jpg");
    background-size: cover;
    background-position: center;
    margin: auto;
}
h1 {
    font-size: 100px;
    color: white;
}