{% load static %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static "style.css" %}">

<header>
    <a href="index"><h1 class='title'>Ye Olde Shoppe</h1></a>
</header>
<body>
    {% for message in messages %}
    <h3 style="color: red;">{{message}}</h3>
    {% endfor %}
    <form method="POST" action="login">
        <p>Username or Email</p>
        <input type="text" name="username_email"/>
        <p>Password</p>
        <input type="password" name="password"/><br>
        <input type="submit"/>
    </form>
    <p>Don't have an account?</p>
    <a href="signup"><p>Sign up now!</p></a>
</body>