body {
    background-color: #f1faee;
}
#signup {
    background-color: #1d3557;
    color: #f1faee;
}
button {
    background-color: #a8dadc;
    font-size: 30px;
}
h1, h2 {
    color: #1d3557;
}
span {
    color: #457b9d;
}
.tag {
    background-color: #e63946;
    color: #f1faee;
    font-size: 16px;
}
.post a {
    color:#457b9d;
    text-decoration: none;
    font-weight: bold;
}
footer a {
    color: #e63946;
}
h2 + button {
    font-size: 12px;
}
footer > a {
    color: #457b9d;
}
input[type="password"] {
    color: greenyellow;
}
a[href*="google"] {
    color: magenta;
}
button:hover {
    background-color: #e63946 !important;
    color: #f1faee !important;
}
.post a:hover {
    text-decoration: underline;
}
.post button:active {
    background-color: #02c39a;
}
.post:nth-of-type(2n) {
    background-color: #dfe8dc;
}
h2::first-letter {
    font-size: 30px;
}
p::first-line {
    color: #e63946;
}
p::selection {
    background-color: #fcbf49;
}